<mat-tab-group class="tab-container">
	<mat-tab *ngFor="let tab of asyncTabs | async">
		<ng-template mat-tab-label>
			<span class="tab-title">{{tab.label}}</span>
		</ng-template>
		<div class="tab-content">{{tab.content}}</div>
		
		<div>
			<ng-container *ngIf="tab.label === 'Torneio'">
        <div class="banner-image"><img src="assets/images/padel_wallpaper.jpeg"/>
        </div>
				<form [formGroup]="form"
					class="torneio-form">
					<mat-form-field class="form-field">
						<input matInput
							placeholder="Nome do torneio">
					</mat-form-field>
          <div class="row">
					<mat-form-field class="form-field">
						<mat-date-range-input [formGroup]="range"
							[rangePicker]="picker">
							<input matStartDate
								formControlName="start"
								placeholder="Start date">
							<input matEndDate
								formControlName="end"
								placeholder="End date">
						</mat-date-range-input>
						<mat-datepicker-toggle [for]="picker"
							matIconSuffix></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>
					</mat-form-field>

					<mat-form-field class="form-field">
						<input [formControl]="timeControl"
							[ngxMatTimepicker]="picker2"
							matInput
							placeholder="Horário de início">
						<ngx-mat-timepicker-toggle [for]="picker2"
							matSuffix></ngx-mat-timepicker-toggle>
						<ngx-mat-timepicker #picker2></ngx-mat-timepicker>
					</mat-form-field>
        </div>
          <mat-form-field class="form-field">
            <input matInput placeholder="Clube"/>
          </mat-form-field>
          <div class="row">
            <mat-form-field class="city-field">
              <input matInput placeholder="Cidade" />
            </mat-form-field>
            <mat-form-field class="state-field">
              <input matInput placeholder="Estado" />
            </mat-form-field>
          </div>          <div class="row">
            <mat-form-field class="city-field">
              <input matInput placeholder="Endereço" />
            </mat-form-field>
            <mat-form-field class="state-field">
              <input matInput placeholder="Número" />
            </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="complement-field">
                <input matInput placeholder="Complemento" />
              </mat-form-field>
              <mat-form-field class="zipcode-field">
                <input  matInput placeholder="CEP" />
              </mat-form-field>
          </div>

				</form>
			</ng-container>
		</div>
	</mat-tab>
</mat-tab-group>
