mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 32px;
}

.landing-page {
  padding: 0;
}

.icons-container {
    display: flex;
    align-items: center;
  }
  
  .icons-container mat-icon:first-child {
    margin-right: 8px;
  }
  
  .icons-container mat-icon:last-child {
    margin-left: 8px;
  }

  .profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
  }

  .link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  .toolbar-buttons button {
    margin-right: 20px;
    margin-left: 20px;
  }
  