.sign-up-link {
  font-size: 1rem;
  margin-left: 8px;
}

.left {
  display: flex;
  justify-content: right;
  font-size: 0.7rem;
  margin-right: 8px;
}

.forgot-password-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.row {
  margin-top: 15px;
  display: flex;
  gap: 16px;
}

.hide-form {
  display: none;
}

.loginIn {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 13px;
}
